body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    color: #575757;
    font-size: 50px;
    font-weight: 900;
}

.orange-font{
    background-image: linear-gradient(orange, tomato);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.link-button{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.85rem rgba(255, 166, 0, 0.247));
    
    

}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 20px;
}

.half-width .img1{
    width: 80%;
    padding-left: 100px;
}

.first-para{
    color: #575757;

}

h2{
    color: #707070;
    font-size: xx-large;
    padding-top: 70px;
}

.half-width .img2{
    width: 45%;
    padding-top: 60px;
    padding-left: 200px;
}

#section-2{
    background-image: url(images/shapes/7.png);
    margin-top: 50px;
    
}

#section-2 p{
    text-align: justify;
}

.p2{
    padding-right: 20px;
}

#section-3 #first-div{
    text-align: center;
}

#parent-div{
    display: flex;
}
.child{
    width: 40%;
    margin-left: 5%;
    border: 20px solid white;
    border-radius: 35px;
    box-shadow:  2px 2px 20px 5px rgba(176, 175, 175, 0.4);

}

.child img{
    width: 100%;
}

h3{
    font-weight: bolder;
}


